{% extends 'base.html' %}

{% block content %}

<div>
    {% if current_user.is_authenticated %}
    <div class="user-options">
        <a href="/game">Play Game</a>
        <a href="/contribute">Contribute to Game Database</a>
    </div>
    {% else %}
    <div class="intro">
    <p>Ever wanted to have a curated charades game just for you and your friends? </p>
    <p>Look no further! </p>
    <p>This app is built with unique charades enthusists like you in mind.</p>
    <a href="/login">Log in to start</a>
    </div>
    {% endif %}
</div>


{% endblock %}s