{% extends 'base.html' %}

{% block content %}
<div>
    {% if current_user.is_authenticated %}
    <div>
        <div class="ret-con-container">
            <a class="return-contribute" href="/contribute">Return to Contribute Page</a>
        </div>        
        <h3 class="word-list-cat">Word List by Category</h3>
        <small>Click on a word to edit.</small>

            {% for category in all_categories %}
                <p><strong>{{ category.name }}</strong></p>
                    <ul>
                        {% for word in all_words %}
                            {% if word.category_id == category.id %}
                                <li><a href="/edit_word/{{ word.id }}">{{ word.name }}</a></li>
                            <!-- <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li> -->
                            {% endif %}
                        {% endfor %}
                    </ul>
            {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}